<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Message</title>
  </head>
  <body>
    <form action="/" method="POST">
      <input name="newAuthor" placeholder="Name" />
      <textarea name="newMessage" placeholder="Message"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
